@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local("Ubuntu Italic"), local("Ubuntu-Italic"), url("~assets/fonts/Ubuntu-Italic.ttf") format("truetype")
}
