@import "typography";


*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --small-mobile-width: 320px;
    --mobile-width: 400px;
    --tablet-width: 768px;
    --body-background-color: #18191A;
    --sidebar-background-color: #18191A;
    --sidebar-link-color: #b0b3b8;
    --topbar-background-color: #242526;
    --topbar-background-hover-color: #3A3B3C;
    --primary-color: #2D88FF;
    --secondary-color: ;

    --font-title: 'Open sans', sans-serif;
    --font-text: 'Open sans', sans-serif;
    --search-bar-height: 4rem;
    --search-bar-width: 24rem;
    --search-bar-background-color: #3A3B3C;
    --search-bar-color: #ccc;

    --recommended-professors-background-color: #303031;


    --border-radius-primary: 10px;
    --border-radius-secondary: 50px;

    --transition-duration-primary: .3s;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @media screen and (max-width: 1280px) {
		font-size: 55%;
	}
	@media screen and (max-width: 800px) {
		font-size: 50%;
	}
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.71;
    text-rendering: geometricPrecision;
    font-family: var(--font-title);
}
p, a, a:link, a:visited, textarea, button, label, input, span, ::before, ::after {
  line-height: 1.71;
  text-rendering: geometricPrecision;
  font-family: var(--font-text);
}

body {
    background-color: var(--body-background-color);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}
